<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>MARS photo API</h1>
    <h2>Curiosity</h2>
    <% let cams = ['fhaz', 'rhaz', 'mast', 'chemcam', 'mahli', 'mardi', 'navcam', 'pancam', 'minites'] %>
    <form action="/getMarsPhoto" method="GET">
        <label>Sol(Mars Solar Day)</label>
        <input type="number" name="sol" value="">
        <label>Camera</label>
        <select name="cam">
            <% cams.forEach(cam => { %>
            <option value="<%= cam %>"><%= cam %></option>
            <% }) %>
        </select>
        <button type="submit">Find Photos</button>
    </form>
    
    <% if(typeof photos !== 'undefined') { %>
        <% photos.forEach(photo => { %>
            <img src="<%= photo.img_src %>" alt="Mars photo" style="width:300px; height: 250px;">
        <% }) %>
    <% } %>

    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>